name: 1.0.0.$(Rev:r)

trigger:
  branches:
    include:
      - container-app
  paths:
    include:
      - src
      - tests
      - deployment

pr:
  branches:
    include:
      - container-app

pool:
  vmImage: 'ubuntu-16.04'

variables:
- group: meetup-variables

steps:
- task: VersionDotNet@2
  displayName: 'set version'
  condition: eq(variables['Build.SourceBranch'], 'refs/heads/container-app')

- task: UpdateBuildNumber@0
  displayName: 'update build number when pr'
  inputs:
    buildNumber: $(Build.SourceBranchName)-$(Build.BuildId)
  condition: ne(variables['Build.SourceBranch'], 'refs/heads/container-app')

- task: Docker@0
  displayName: 'build image'
  inputs:
    azureSubscription: 'Free Trial (af5dba18-48a5-444e-bcbe-d9749bf60ec2)'
    azureContainerRegistry: '{"loginServer":"meetupdemo.azurecr.io", "id" : "/subscriptions/af5dba18-48a5-444e-bcbe-d9749bf60ec2/resourceGroups/devops-demo/providers/Microsoft.ContainerRegistry/registries/meetupdemo"}'
    imageName: '$(MeetupImage):$(Build.BuildId)'
    additionalImageTags: '$(Build.BuildNumber)'
    includeLatestTag: true

- task: Docker@0
  displayName: 'push image'
  inputs:
    azureSubscription: 'Free Trial (af5dba18-48a5-444e-bcbe-d9749bf60ec2)'
    azureContainerRegistry: '{"loginServer":"meetupdemo.azurecr.io", "id" : "/subscriptions/af5dba18-48a5-444e-bcbe-d9749bf60ec2/resourceGroups/devops-demo/providers/Microsoft.ContainerRegistry/registries/meetupdemo"}'
    action: 'Push an image'
    imageName: '$(MeetupImage):$(Build.BuildId)'
    additionalImageTags: '$(Build.BuildNumber)'
    includeSourceTags: true
    includeLatestTag: true
  condition: eq(variables['Build.SourceBranch'], 'refs/heads/container-app')